<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Swan</title>
  @Styles.Render("~/Content/devoops-master/plugins/bootstrap/bootstrap.css")
  @Styles.Render("~/Content/devoops-master/plugins/jquery-ui/jquery-ui.min.css")
  @Styles.Render("~/Content/devoops-master/css/font-awesome.min.css")

  @Styles.Render("~/Content/devoops-master/plugins/fancybox/jquery.fancybox.css")
  @Styles.Render("~/Content/devoops-master/plugins/fullcalendar/fullcalendar.css")
  @Styles.Render("~/Content/devoops-master/plugins/xcharts/xcharts.min.css")
  @Styles.Render("~/Content/devoops-master/plugins/select2/select2.css")
  @Styles.Render("~/Content/devoops-master/plugins/justified-gallery/justifiedGallery.css")
  @Styles.Render("~/Content/devoops-master/css/style_v2.css")
  @Styles.Render("~/Content/devoops-master/plugins/chartist/chartist.min.css")
  @RenderSection("scripts", required: false)
</head>
<body>
@RenderBody()
</body>
</html>
