@model Data.DataModel.Vacancies

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vacancies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPersons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPersons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CauseOfOccurrence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CauseOfOccurrence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoalsAndObjectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalsAndObjectives)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalKnowledge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalKnowledge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalQualities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalQualities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalRequirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicalInterviewsAreConducted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalInterviewsAreConducted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheFinalDecision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheFinalDecision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDateOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDateOfEmployment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
