@model IEnumerable<Data.DataModel.Candidate>

@{
  ViewBag.Title = "Index";
}
<p>
  @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-users"></i>
          <span>Candidates</span>
        </div>
        <div class="box-icons">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
          <thead>
            <tr>
              <th><label><input type="text" name="search_name" value="Name" class="search_init" /></label></th>
              <th><label><input type="text" name="search_name" value="Phone number" class="search_init" /></label></th>
              <th><label><input type="text" name="search_votes" value="Company" class="search_init" /></label></th>
              <th><label><input type="text" name="search_homepage" value="Position" class="search_init" /></label></th>
              <th><label><input type="text" name="search_version" value="English" class="search_init"/></label></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var item in Model)
          {
            <tr>
              <td>
                <a href="/Candidates/Details/@item.CandidateId">
                  <img class="img-thumbnail" width="150" height="150"
                       src="@Url.Action("GetPhotoCandidates", "Candidates",
                            new {item.CandidateId})" />@Html.DisplayFor(modelItem => item.Name)
                          </a>
              </td>
              <th>
                @Html.DisplayFor(modelItem => item.ContactPhone)
              </th>
              <th>
                @Html.DisplayFor(modelItem => item.CurrentCompany)
              </th>
              <th>
                @Html.DisplayFor(modelItem => item.CurrentPosition)
              </th>
              <th>
                @Html.DisplayFor(modelItem => item.EnglishLevels)
              </th>
              <th>
                @Html.ActionLink("Edit", "Edit", new { id = item.CandidateId })
                @Html.ActionLink("Delete", "Delete", new { id = item.CandidateId })
              </th>
            </tr>
          }
          
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable2();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}
$(document).ready(function() {
	// Load Datatables and run plugin on tables
	LoadDataTablesScripts(AllTables);
	// Add Drag-n-Drop feature
	WinMove();
});
</script>
